* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div1 {
    background-color: aqua;
    /* padding: 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 100px;

    margin: 50px;
}

/* Qizil, Yashil, Qora */

.div1-p {
    background-color: red;
    background-color: #cccccc;
    background-color: #48dbfb;
}

.div2 {
    background-color: blueviolet;
}

h1 {
    margin-bottom: 40px;
}

.div2-p {
    background-color: red;
    margin-bottom: 100px;
}

.box1 {
    height: 100px;
    width: 100px;
    background-color: brown;
    margin: 100px;
    padding: 20px;
    border: 10px solid yellow;
}
